#top {
    display: block;
    width: 100%;
    background: #fff
}
.header-top {
    display: block;
    background: url() no-repeat bottom center scroll;
    background-color: #000;
    height: 120px
}
.header-top .container {
    position: relative
}

.site-title {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 69px
}
.site-title h1 {
    display: block;
    font-size: 72px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    padding: 0;
    margin: 0;
}
.site-title h1 span {
    display: block
}
.site-title h1 span.white {
    color: #fff
}
.site-title h1 span.black {
    color: #000
}
.header-bottom {
    display: block;
    width: 100%;
    background: #fff;
    padding-top: 52px;
    padding-bottom: 12px
}
.logo {
    display: inline-block;
    margin: 36px 24px;
}
.logo img {
    display: block;
    height: 40px;
    width: auto;
    border: 0px
}
@media (max-width: 767px) {
    .site-title {
        top: 97px
    }
    .site-title h1 {
        font-size: 32px;
        line-height: 23px
    }
    .logo {
      margin: 24px 12px;
    }
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.no-margin {
  margin: 0;
}
.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}

.card img {
  max-width: 100%;
  max-height: 100px;
}
.card-logo {
  padding: 12px 12px 6px 12px;
}
.card-text {
  padding: 6px 12px 12px 12px;
}

/*!
 * Start Bootstrap - Stylish Portfolio Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}


.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    /*background: url() no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}


/* External Resources */

.external-resources {
    padding: 50px 0;
}

/* Feedback */

.feedback {
    padding: 50px 0;
}



/* Footer */

footer {
    padding: 100px 0;
}
